# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating system files
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE and Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Temporary/System files
.system_generated/
scratch/
